/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-sans-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-v25-latin-regular.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v25-latin-regular.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v34-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-300.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-300.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-regular.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-regular.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-500 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/open-sans-v34-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-500.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-500.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v34-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-600.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-600.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v34-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-700.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-700.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v34-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-800.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-800.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/open-sans-v34-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-300italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-300italic.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-500italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/open-sans-v34-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-500italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-500italic.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-italic.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('https://megavid.uk/fonts/open-sans-v34-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-600italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-600italic.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/open-sans-v34-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-700italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-700italic.svg') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/open-sans-v34-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/open-sans-v34-latin-800italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v34-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v34-latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v34-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v34-latin-800italic.svg') format('svg'); /* Legacy iOS */
}

/* merriweather-300 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/merriweather-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v30-latin-300.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v30-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v30-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v30-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v30-latin-300.svg') format('svg'); /* Legacy iOS */
}
/* merriweather-300italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/merriweather-v30-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v30-latin-300italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v30-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v30-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v30-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v30-latin-300italic.svg') format('svg'); /* Legacy iOS */
}
/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v30-latin-regular.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v30-latin-regular.svg') format('svg'); /* Legacy iOS */
}
/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/merriweather-v30-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v30-latin-italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v30-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v30-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v30-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v30-latin-italic.svg') format('svg'); /* Legacy iOS */
}
/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/merriweather-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v30-latin-700.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v30-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v30-latin-700.svg') format('svg'); /* Legacy iOS */
}
/* merriweather-700italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/merriweather-v30-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v30-latin-700italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v30-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v30-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v30-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v30-latin-700italic.svg') format('svg'); /* Legacy iOS */
}
/* merriweather-900 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/merriweather-v30-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v30-latin-900.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v30-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v30-latin-900.svg') format('svg'); /* Legacy iOS */
}
/* merriweather-900italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/merriweather-v30-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/merriweather-v30-latin-900italic.eot@') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather-v30-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather-v30-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/merriweather-v30-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather-v30-latin-900italic.svg') format('svg'); /* Legacy iOS */
}
.overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.port {
  position: relative;
  min-height: 320px;
  width: 100%;
  background-color: #DE0404;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  }


.firstview{
  text-align:center;
  color:white;
}
.secondview{
  text-align:left;
  margin-left:30px;
  margin-right:30px;
  color:white;
}

span.secondview{
 display:none;
 color:white;
}
.port:hover span.firstview{
 display:none;
}
.port:active span.firstview{
  display:none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.port:hover span.secondview{
 display:block;
}
.port:active span.secondview{
  display:block;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.secondview .a{
  color:white;
}


.howto{
border-color: #DE0404;
border-width: 5px;
border-style: solid;
font-size: 150%;
}


.backimg{
background-image: url(../img/bg6.jpg.html);
background-size: cover;
background-color: #DE0404;
width:100%;
height:20%;
}


.video{
border-color: black;
border-width: 5px;
border-style: solid;
line-height: 3;
background-color: white;
margin-bottom: 5px;
margin-top: 5px;
}


.videocontent{
margin-bottom: 5px;
margin-top: 5px;
height: 75%;
width:95%;
}


#wrapper {
  padding-left: 0;
}

#wrapper.toggled {
  padding-right: 250px;
}

#sidebar-wrapper {
  z-index: 999999;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background-color:white;

}

#wrapper.toggled #sidebar-wrapper {
  width: 500px;
  z-index: 1099901;
}


.helpcontact{
margin:70px;
font-size: 150%;
display:block;
}

.orange{
background-color: #DE0404;
}
.lightgray{
background-color: gray;
}
.blacknav{
background-color: black;
}
.black{
background-color: black;
padding-top: 22px;

height: 60px;
margin-top: 0;
border-top: 0;
position: absolute;
width: 100%;
font-size:x-small;
float:bottom;
}
.social{
font-size:medium;
}
.smoke{
background-color:	#F5F5F5;
}


.loginpanel{
margin:auto;
}

.videocontainer {
  width: 100%;
  padding-right: 17px;
  padding-left: 17px;
  margin-right: auto;
  margin-left: auto;
}

.Dashboard{background:#fff;border:1px solid #d4d2d0;border-radius:4px;max-width:52em;padding:1.5em}

.videoElement {
    width: 100%;
    height: 100%;
    
    background-color: #DE0404;
    background-image: url("https://storage.googleapis.com/megaviduk_public/megaviduk_video_licensing.jpg");
    background-size:cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    overflow:hidden;
}
.videoElement-video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.smallyoutube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.smallyoutube img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}
.smallyoutube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.smallyoutube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.smallyoutube img,
.smallyoutube .play-button {
  cursor: pointer;
}
.smallyoutube img,
.smallyoutube iframe,
.smallyoutube .play-button,
.smallyoutube .play-button:before {
  position: absolute;
}
.smallyoutube .play-button,
.smallyoutube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.smallyoutube iframe {
height: 100%;
width: 100%;
top: 0;
left: 0;
}

.circle-with-text {
  background: #DE0404;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  padding: 15px;
  display: flex;
  height: 290px;
  width: 290px;
  color:white;
}
div.circle-secondtext{
  display:none;
}
.circle-with-text:hover div.circle-text{
  display:none;
}
.circle-with-text:active div.circle-text{
  display:none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.circle-with-text:hover div.circle-secondtext{
  display:block;
}
.circle-with-text:active div.circle-secondtext{
  display:block;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}


.foot {
    background: #010101;
    padding-top: 22px;
    padding-bottom: 18px;
    height: 60px;
    margin-top: 0;
    border-top: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3200;
}

.myFooter{
  color:#EAE9E9;
  background-color:#2C3E50;
}
.myFooter a{
  color:#EAE9E9;
}

.pre-auth {
  display: none;
}

.post-auth {
  display: none;
}

.sliderClass .google-visualization-controls-slider-horizontal {
  width: 60vw;
}

.spaceUnder {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.spaceUnder td{
  overflow: hidden;
}

.videoOverlay {
  z-index: 7777;
  background: black;
  display:none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.65;

}

#split-bar {
  z-index: 999999;
  background-color:black;
  height:100%;
  float: left;
  width: 6px;
  cursor: col-resize;
  position: fixed;
  right: 250px;
  margin-right: -250px;
  display:none;

  }
  #wrapper.toggled #split-bar{
      margin-right: 250px;
      display:block;
  }
  .cartcontent{
    padding-left:8px;
    padding-right:8px;
}

.youtubeModal {
  background-color: #000;
  margin-bottom: 0px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}
.youtubeModal img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}
.youtubeModal .play-buttonModal {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtubeModal .play-buttonModal:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtubeModal img,
.youtubeModal .play-buttonModal {
  cursor: pointer;
}
.youtubeModal img,
.youtubeModal iframe,
.youtubeModal .play-buttonModal,
.youtubeModal .play-buttonModal:before {
  position: absolute;
}
.youtubeModal .play-buttonModal,
.youtubeModal .play-buttonModal:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtubeModal iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.videoInfoLink{
  color:black !important;
  cursor:pointer;
}
.videoInfoLink:hover {
  text-decoration: underline !important;
}

.search-sticky{
  z-index:1049 !important;
  position: fixed !important;
  top:17px !important;
  width:calc(100vw - 660px) !important;
  margin-left:330px !important;
  margin-right:330px !important;
}

.search-stickyMobile{
  z-index:1049 !important;
  position: fixed !important;
  top:71px !important;
  width:100% !important;
}
.modal-header-success {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.modal-header-danger {
color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #d9534f;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.badge-notify{
  color: black;
  position: relative;
  top: -10px;
  left: 25px;
 }
 

 .dropupLicense{
  color:white !important;
  line-height:1rem;
  font-size:small;
  cursor:pointer;
 }
 .dropupLicense:hover{
   color:black !important;
 }

 /* The checkCont */
.checkCont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkCont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkCont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkCont input:checked ~ .checkmark {
  background-color: #DE0404;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkCont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkCont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Create a custom checkbox */
.selectVideoLic {
  width: 100%;
}


.modalSignUp .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.modalSignUp input{
  margin-bottom: 10px;
}

.footerLink{
  color:white;
  cursor:pointer;
}
.footerLink:hover {
  text-decoration: underline !important;
}

.footerLinkCheckout{
  margin:0.5rem;
  color:#A1A1A1 !important;
  cursor:pointer;
}
.footerLinkCheckout:hover {
  text-decoration: underline !important;
}

.carousselItemTitle{
  height:5em;
  overflow:hidden;
  text-overflow: ellipsis;
}
@media(max-width:400px){
  .carousselItemTitle{
    height:6em;
  }
}
@media(max-width:380px){
  .carousselItemTitle{
    height:7em;
  }
}
@media(max-width:350px){
  .carousselItemTitle{
    height:8em;
  }
}

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-def {
  background-color: DarkGray ;
  color: white;
}
.btn-breadcrumb .btn.btn-def:not(:last-child):after {
  border-left: 10px solid DarkGray ;
}
.btn-breadcrumb .btn.btn-def:not(:last-child):before {
  border-left: 10px solid DarkGray ;
}


/** Active button **/
.btn-breadcrumb .btn.btn-orange {
  background-color: #DE0404;
  color: white;
}
.btn-breadcrumb .btn.btn-orange:not(:last-child):after {
  border-left: 10px solid #DE0404;
}
.btn-breadcrumb .btn.btn-orange:not(:last-child):before {
  border-left: 10px solid #DE0404;
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}

.cartContainer{
        padding-top: 95px;
        padding-left:46px;
}
@media(max-width:1199px){
    .cartContainer{
        padding-left:15px;
    }
}
@media(max-width:1123px){
    .cartContainer{
        padding-top: 2px;
    }
}
@media(max-width:860px){
    .noneDisp-860{
        display:none;
    }
}

.orderSummaryCard{
width:100%;
float:right
}
@media (min-width: 1200px){
    .orderSummaryCard{
        width:95%;
        margin-top:2rem;
    }
}

.orderSummaryCardBtm{
  width:100%;
  margin-top:2rem;
  float:right
}
@media (min-width: 1200px){
    .orderSummaryCardBtm{
        width:95%;
    }
}

.bankTransLogoCart{
  margin: auto;
  height:95px;
}
.paypalLogoCart{
  padding-bottom:8px;
  height:100px;
}
@media (min-width: 1200px) and (max-width: 1450px){
    .bankTransLogoCart{
        height:75px;
    }
    .paypalLogoCart{
        height:80px;
    }
}
@media (max-width:450px){
  .bankTransLogoCart{
        height:75px;
    }
    .paypalLogoCart{
        height:80px;
    }
}

@media (max-width:380px){
  .paymentRowCartSmall{
    display:table-row !important;
  }
  .paymentRowCartLarge{
    display:none !important;
  }
}
.stickBtnCheckout {
  position: fixed;
  top: 0;
  left:0;
  right:0;
  z-index:5;
}
@media (min-width: 1124px){
  .stickBtnCheckout {
    position: fixed;
    top: 93px;
    left:0;
    right:0;
  }
}


@media (min-width: 1900px){
  .d-xxxl-block {
      display: block !important;
  }
  .d-xxxl-none {
      display: none !important;
  }
}
@media (min-width: 1500px){
  .d-xxl-block {
      display: block !important;
  }
  .d-xxl-none {
      display: none !important;
  }
}

@media (min-width: 1124px){
  .d-llg-block {
      display: block !important;
  }
  .d-llg-flex{
    display: flex !important;
  }
  .d-llg-none {
      display: none !important;
  }
}


@media (min-width: 675px){
  .d-xls-block {
      display: block !important;
  }
  .d-xls-none {
      display: none !important;
  }
}
@media (max-width: 674px){
  .d-smmobile-none {
      display: none !important;
  }
}
@media (max-width: 355px){
  .mobile-log-xss {
      display: block !important;
  }
  .mobile-log-xs {
      display: none !important;
  }
  #accountdivXtraSmall{
    padding:8px;
  }
  #bookmarkdivXtraSmall{
    padding: 8px;
  }
  #cartdiv{
    padding-left: 8px;
  }
}
@media (min-width: 355px){
  .mobile-log-xs {
      display: block !important;
  }
  .mobile-log-xss {
      display: none !important;
  }
}

@media(min-width: 1265px){
  .d-submit-big-block{
    display: block !important;
  }
}
@media(max-width: 1265px){
  .d-submit-small-block{
    display: block !important;
  }
}
@media(min-width: 800px){
  .d-submit-smbig-block{
    display: block !important;
  }
}
@media(max-width: 799px){
  .d-submit-smsmall-block{
    display: block !important;
  }
}

.blackdropdown{
background-color:black;
color:white;
}
.blackdropdown .dropdown-item{
background-color:black;
color:white;
}
.blackdropdown .card{
border:none;
background-color:black;
}
.blackdropdown .card-header{
border:none;
background-color:grey;
padding-left:24px;
}
.blackdropdown .dropdown-item:focus,.blackdropdown .dropdown-item:hover {
color: #16181b;
text-decoration: none;
background-color: #f8f9fa;
}
#dropdownVideos #videosDropdown {
          display: block;
}

@media(max-width:350px){
  .noneDisp-350{
      display:none;
  }
}

@media(max-width:370px){
  .noneDisp-370{
      display:none;
  }
}
@media(max-width:400px){
  .noneDisp-400{
      display:none;
  }
}

.paymentMethodTblLogo{
  border:none;
}
@media(min-width:650px){
  .paymentMethodTblLogo{
      width:80%;
  }
}
@media(min-width:370px){
  .d-payment-xxs{
      display:table-cell !important;
  }
}
.paymentMethodIcon{
  margin:auto;
  height:70px;
}
@media(max-width:400px){
  .paymentMethodIcon{
      height:50px;
  }
}
@media(max-width:340px){
  .paymentMethodIcon{
      height:40px;
  }
}
/* Fix BS3 tooltip */
@supports (-webkit-overflow-scrolling: touch) {
/* CSS specific to iOS devices */
body {
  cursor: pointer;
}
}

@media (min-width: 881px){
  .d-footer-xxl-block {
      display: flex !important;
  }
.d-footer-xxl-none {
      display: none !important;
  }
}
@media (min-width: 480px) and (max-width:880px){
  .d-footer-l-block {
      display: flex !important;
  }
.d-footer-l-none {
      display: none !important;
  }
}

@media (max-width: 480px){
  .d-footer-xs-block {
      display: flex !important;
  }
}

.card-success {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  margin-bottom:32px;
  border-radius: 10px;
  max-width: 950px;
  background-color:white;
  margin-top: 125px;
  padding-bottom:32px;
}
.card-success .row{
  margin-top:2rem;
}
.card-success .btnrow{
  margin-top:4rem;
}

@media(max-width:1123px){
  .card-success{
      margin-top: 32px;
  }
}

.pad-left{
  padding-left: 1em;
}

.btn-primary {
  color: #fff;
  background-color: #DE0404;
  border-color: #DE0404;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #DE0404;
  border-color: #DE0404;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
 
  border-radius: 10px;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
 
  border-radius: 10px;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signup input{
  margin-bottom: 10px;
}

.video-submission > input{
    margin-bottom: 1em;
}

.vg-player{
    height: calc(37vw - 16px);
    width:100%;
}

.yt-player > iframe{
    height: calc(37vw - 16px);
    width:100%;
}